.nav{
    position: fixed;
    top: 0;
    width:100%;
    padding: 20px;
    height:40px;
    z-index: 1;

    /* Animation*/
    transition-timing-function: ease-in;
    transition: all 0.5s;
}
.nav_black{
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(43, 2, 2, 0.61),
        rgb(22, 1, 1)
    );
}
.nav_logo{
    position: fixed;
    height:55px;
    left:20px;
    width:80px;
    object-fit: contain;
}
.nav_avatar{
    border-radius: 42%;
    position: fixed;
    right: 20px;
    width: 40px;
    object-fit: contain;
}